<div class="mainDiv">

    <!-- Header -->
    <header class="header">
        <h1>Mithila Spices & Pickles</h1>
        <div class="header-buttons">
            <span style="margin-right: 80px;" *ngIf="loggedInuser">Logged-user:-{{loggedInuser}}</span>
            <button (click)="toggleCart()">🛒 Cart ({{ getTotalItems() }})</button>
            <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
    </header>


    <!-- Products -->
    <main>
  <h2>Our Products</h2>
 <div style="align-items: center;" *ngIf="!products || products.length === 0">
  No Product Found. Stay Tuned to enjoy products.
</div>
  <div class="products" *ngIf="products && products.length > 0">
    <div class="card" *ngFor="let product of products">
      <img [src]="product.productImage" [alt]="product.productName">
      <div class="card-content">
        <h3>{{ product.productName }}</h3>
        <p>Rich & authentic flavor.</p>
        <p class="price">₹{{ product.roductPrice }}</p>
        <button (click)="addToCart(product.productName, product.roductPrice, product.productImage)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</main>

    <!-- Cart Modal -->
    <div class="cart-modal" *ngIf="showCart">
        <div class="cart-content">
            <button class="close-btn" (click)="toggleCart()">X</button>
           <div style="border-bottom: 45px red;">
             <h3 style="margin-left: 163px;">Mithial Shoping Cart</h3>
           </div>

            <div *ngFor="let item of cart; let i = index" class="cart-item">
                <img [src]="item.img" [alt]="item.name">
                <div class="cart-info">
                    <strong>{{ item.name }}</strong><br>
                    ₹{{ item.price }}
                </div>
                <div class="qty">
                    <button style="margin-left: 2px;" (click)="changeQty(i, -1)">-</button>
                    <span>{{ item.qty }}</span>
                    <button (click)="changeQty(i, 1)">+</button>
                </div>
                <span>₹{{ item.price * item.qty }}</span>
            </div>

            <h4>Total: ₹{{ getTotalPrice() }}</h4>
            <button class="checkout-btn" (click)="checkoutItem()">Checkout</button>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>© 2025 Mithila Spices & Pickles Store</p>
    </footer>
</div>