<div class="mainDiv">

  <!-- Header -->
 <header>
  <h1>Mithila Spices & Pickles</h1>
  <button (click)="onClickLogin()">Login</button>
</header>

  <!-- Hero Section -->
  <!-- <section class="hero">
    <h2>Authentic Spices & Homemade Pickles</h2>
  </section> -->

  <!-- Products -->
  <main>
    <h2>Our Products</h2>
    <div class="products">

      <!-- Spice Mix -->
      <div class="card">
        <img src="assets/redchillimg.webp" alt="Spice Mix">
        <div class="card-content">
          <h3>Red Chilli Pickles</h3>
          <p>Rich blend of natural spices.</p>
          <p class="price">₹250</p>
        </div>
      </div>

      <!-- Mango Pickle -->
      <div class="card">
        <img src="assets/mangoimg.webp" alt="Mango Pickle">
        <div class="card-content">
          <h3>Mango Pickle</h3>
          <p>Traditional tangy taste.</p>
          <p class="price">₹180</p>
        </div>
      </div>

      <!-- Chili Powder -->
      <div class="card">
        <img src="assets/allspices.webp" alt="Chili Powder">
        <div class="card-content">
          <h3>Home MadeSpices</h3>
          <p>Spicy & authentic flavor.</p>
          <p class="price">₹120</p>
        </div>
      </div>

    </div>
  </main>

  <footer>
    <p>© 2025 Mithila Spices & Pickles Store</p>
  </footer>
</div>
